.resultus-com{
  background-color: #dae0c6;
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid #35322f;
  .country-name{
    padding-top: 30px;
    text-align:center;
    color: #685a53;
    font-size: 30px;
    font-family: serif;
  }
  .city-name{
    padding-top: 30px;
    text-align:center;
    color: #685a53;
    font-size: 50px;
    font-family: serif;
  }
  .temperature{
    padding-top: 30px;
    text-align:center;
    color: #685a53;
    font-size: 70px;
    font-family: serif;
  }
  .weather{
    padding-top: 30px;
    text-align:center;
    color: #685a53;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: serif;
  }
}