.from-com{
  background-color: #dae0c6;
  width: 800px;
  height: 200px;
  margin: 0 auto;
  border: 3px solid #61616d;
  h2{
    color: #61616d;
    font-size: 30px;
    text-align:center;
    padding-top: 20px;
  }
  form{
    margin-top: 40px;
    .input-text{
      vertical-align : top;
      margin-left: 130px;
      font-size: 30px;
      color: #61616d;
      border: 3px solid #61616d;
    }
    .input-text:focus {
      border: 3px solid #b5a399; 
      z-index: 10;
      outline: 0;
    }
    .input-button{
      vertical-align : top;
      margin-left: 20px;
      font-size: 24px;
      height: 38px;
      color: white;
      background-color: #b5a399;
      border: 3px solid #61616d;
    }
    .input-button:hover{
      opacity: 0.5;
    }
  }
}